
@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Cabinet+Grotesk:wght@100..900&display=swap');

body {
  font-family: "Cabinet Grotesk", sans-serif;
  overflow-x: hidden;
  font-weight: 100; 
  font-style: normal; 
}
